/* NOVECENTO SANS WIDE */
/* 100 */
@font-face {
    font-family:"novecento-sans-wide";
    src:url("https://use.typekit.net/af/f0639e/00000000000000007735ccfb/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff2"),
        url("https://use.typekit.net/af/f0639e/00000000000000007735ccfb/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("woff"),
        url("https://use.typekit.net/af/f0639e/00000000000000007735ccfb/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3") format("opentype");
    font-display:auto;
    font-style:normal;
    font-weight:100;
}

/* SCHNYDER CONDENSEDXL */
/* 300 */
@font-face {
	font-family: 'Schnyder';
	font-style: normal;
	font-weight: 300;
	src: local('Schnyder Light'), local('Schnyder-Light'),
	url('~assets/fonts/SchnyderConsendedXL/SchnyderCondXL-Light-Web.woff') format('woff'),
    url('~assets/fonts/SchnyderConsendedXL/SchnyderCondXL-Light-Web.woff2') format('woff2');
	font-display: swap;
}

